html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

:root {
    --card-bg-front: #060ce9;
    --card-bg-back: #060ce9;
    --card-font: #fff;
}

.card {
    background-color: var(--card-bg-front);
    color: var(--card-font);
    padding: 2em;
    border-radius: 1em;
    width: 300px;
    height: 200px;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: transform .6s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}


.card-back {
    display: none;
}

.card:hover .card-front {
    display: none;
}

.card:hover .card-back {
    display: block;
    transform: rotateY(180deg);
}


.card-front, .card-back {
    backface-visibility: hidden;
}
